:root {
  /* palette */
  --box-clicked-color: #7fffd4;
  --main-bg: antiquewhite;
}

/* ! generics */
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

/* ! header */
#header {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page-logo {
  width: 100px;
}

#header select {
  width: 150px;
}

/* ! main */
#main {
  background-color: var(--main-bg);
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main .box-container {
  width: 750px;
  aspect-ratio: 1;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
}

.box-container > .box {
  aspect-ratio: 1;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.box.clicked {
  background-color: var(--box-clicked-color);
}

/* ! footer */
#footer {
  min-height: 10vh;
}

#footer h2 {
  line-height: 10vh;
}
